@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600");
@import url("font-awesome.min.css");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url('../img/mb-03-bis.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body.loading * {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

a {
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

.icon {
	text-decoration: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

@-moz-keyframes wrapper {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes wrapper {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes wrapper {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes wrapper {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.wrapper {
	-moz-animation: wrapper 1s forwards;
	-webkit-animation: wrapper 1s forwards;
	-ms-animation: wrapper 1s forwards;
	animation: wrapper 1s forwards;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.main {
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

.main:before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: 0;
	vertical-align: middle;
	width: 1px;
}

@-moz-keyframes header {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes header {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes header {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes header {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-moz-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.wrapper header {
	-moz-animation: header 1s .75s forwards;
	-webkit-animation: header 1s .75s forwards;
	-ms-animation: header 1s .75s forwards;
	animation: header 1s .75s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	top: -1em;
	vertical-align: middle;
	width: 90%;
}

.wrapper header h1 {
	font-family: "Source Sans Pro";
    font-size: 4em;
    font-weight: 300;
    line-height: 1em;
    color: white;
    margin-bottom: 0.4em;
}

.wrapper header p, .wrapper header .typed-description {
    font-size: 1.5em;
    margin: 0.25em 0 0.25em 0;
    color: white;
}

.wrapper header nav {
	margin: 1.5em 0 0 0;
}

.wrapper header nav li {
	-moz-animation: nav-icons 0.5s ease-in-out forwards;
	-webkit-animation: nav-icons 0.5s ease-in-out forwards;
	-ms-animation: nav-icons 0.5s ease-in-out forwards;
	animation: nav-icons 0.5s ease-in-out forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	display: inline-block;
	height: 4em;
	line-height: 5.5em;
	opacity: 0;
	position: relative;
	top: 0;
	width: 6em;
	color: white;
}

.wrapper header nav li:nth-child(1) {
	-moz-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}

.wrapper header nav li:nth-child(2) {
	-moz-animation-delay: 2.25s;
	-webkit-animation-delay: 2.25s;
	-ms-animation-delay: 2.25s;
	animation-delay: 2.25s;
}

.wrapper header nav li:nth-child(3) {
	-moz-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.wrapper header nav li.linkedin:hover, .wrapper header nav .linkedin a:active:before {
	color: #0077b5;
}

.wrapper header nav li.linkedin:hover a:before {
	border-color: #0077b5;
}

.wrapper header nav li.github:hover, .wrapper header nav .github a:active:before {
	color: black;
}

.wrapper header nav li.github:hover a:before {
	border-color: black;
}

.wrapper header nav li.twitter:hover, .wrapper header nav .twitter a:active:before {
	color: #55acee;
}

.wrapper header nav li.twitter:hover a:before {
	border-color: #55acee;
}

.wrapper header nav a {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	border: 0;
	display: inline-block;
}

.wrapper header nav a:before {
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2.5em;
}

.wrapper header nav a:hover {
	font-size: 1.1em;
}

.wrapper header nav a:active:before {
	background-color: rgba(255, 255, 255, 0.35);
}

.wrapper header nav a span {
	display: none;
}

.wrapper footer {
	-moz-animation: footer-anim 0.5s 3s ease-in-out forwards;
	-webkit-animation: footer-anim 0.5s 3s ease-in-out forwards;
	-ms-animation: footer-anim 0.5s 3s ease-in-out forwards;
	animation: footer-anim 0.5s 3s ease-in-out forwards;
    bottom: 0;
    cursor: default;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    opacity: 0;
}

@-moz-keyframes footer-anim {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes footer-anim {
	00% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes footer-anim {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes footer-anim {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.footer .content {
	color: white;
    font-size: 1em;
}

.typed-cursor {
    opacity: 1;
    color: white;
    font-size: 1.5em;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    line-height: 1.5em;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
